.card {
    margin-bottom: 20px;
}

.editBtn {
    margin: 0 5px;
}

.selectTask {
    width: 18px;
    height: 18px;
    margin-bottom: 30px;
}

.selectTask input {
    cursor: pointer;
    margin-bottom: 20px;
}

.truncateText {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-height: 24px;
}

.taskBg {
    background: linear-gradient(145deg, #aec2bb 0%, #92dd97 51%, #d4c962 80%);
    border: 2px solid rgb(15, 151, 113);
}
